<a href="https://colab.research.google.com/github/amarhassan12/tasks/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
num1=3
num2=4
num3=5
print(num1+num2)
print(num3-num1)
print(num1*num2+num3)
print(num1*(num2+num3))
print(num3/num1)
print(num3//num1)
print(num3%num1)

7
2
17
27
1.6666666666666667
1
2

In [6]:
x=1
y=2
z=3
g=4
print(x+y*z/g)
print(y**z)

2.5
8

In [7]:
str_a="python"
str_b = "is a "
str_c = "times fun language"
num = 1000

str_ab = str_a + str_b + str_c
print(str_ab)

str_a10 = str_a * 10
print(str_a10)

pythonis a times fun language
pythonpythonpythonpythonpythonpythonpythonpythonpythonpython

In [8]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
  print("Odd")

Enter a number: 2
Even

In [9]:
score = float(input("Enter score (0-100): "))
if score >= 50:
    print("Pass")
else:
  print("Fail")

Enter score (0-100): 51
Pass

In [10]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
print(max(a, b, c))

Enter first number: 5
Enter second number: 5
Enter third number: 5
5.0

In [11]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
score = float(input("Enter score: "))
if 90 <= score <= 100:
    print("A")
elif 80 <= score <= 89:
    print("B")
elif 70 <= score <= 79:
    print("C")
elif 60 <= score <= 69:
    print("D")
else:
    print("F")

Enter score: 50
F

In [12]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [13]:
total = 0
for i in range(2, 51, 2):
    total += i
print(total)

650